.input-field-container {
  position: relative;
  margin-bottom: 15px;
}

.input-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  font-size: 14px;
  color: #A26D2B;
}

.styled-input {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #A26D2B;
}

.styled-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


