.repairs-table-container {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: rgba(163, 110, 41, 0.08);
  }
  
  .sticky-note-button {
    background: gray;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 5px;
  }

  .popover-options{
    cursor: pointer;
  }
 
  .popover {
    margin-top: 155px; /* Optional: Add spacing between popover and table */
    margin-left: 1280px;

  }
  