.urdpurchase-form-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .urdpurchase-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  .form-row > * {
    flex: 1;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-buttons {
    display: flex;
    gap: 5px; /* Adds 5px space between the buttons */
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button[type="button"] {
    background-color: #6c757d;
  }
  
  button[type="button"]:hover {
    background-color: #5a6268;
  }
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }
  }
  

  .item-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .item-details-table th,
  .item-details-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .item-details-table th {
    background-color: #f4f4f4;
  }
  